body {
    background-color: #ebebeb;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  main {
    margin-top: 3rem;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
    padding: 1rem;
  }
  .container h1{
    text-align: center;

  }

  .input-group {
    margin-block-end: 0.5rem;
  }

  .input-group input,
  .input-group textarea {
    width: 100%;
    border: 2px solid #f5e9e9;
    padding-block: 0.25rem;
    border-radius: 4px;
  }
  
  .card {
    display: inline-block;
    width: 25%;
    padding: 1rem;
    border: 1px solid black;
  }

  .task-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: #f9f9f9;
  }
  
  .task-item button {
    background-color: #ff6666;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .task-item button:hover {
    background-color: #ff4d4d;
  }